@import "tailwindcss";

:root {
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-primary: #1e1e1e;
  --color-primary-supporting: #2e2e2e;
  --color-secondary: #734137;
  --color-tertiary: #283b48;
  --color-accent: #ebe4df;

  --bg-image-placeholder: rgba(0, 0, 0, 0.05);
  --font-spacing-15: 1.5px;

  --section-padding-block: 36px;
  --section-padding-inline: 24px;

  --section-title-icon: 24px;
  --spacer-32: 20px;
  --grid-spacer-40: 24px;
  --element-block-gap: 32px;
}

@media screen and (min-width: 640px) {
  :root {
    --section-padding-block: 48px;
    --section-padding-inline: 28px;

    --section-title-icon: 28px;
    --spacer-32: 24px;
    --grid-spacer-40: 32px;
    --element-block-gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --section-padding-block: 80px;
    --section-padding-inline: 32px;

    --section-title-icon: 32px;
    --spacer-32: 32px;
    --grid-spacer-40: 40px;
    --element-block-gap: 56px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*==============================================
  =================== FONTS ====================
  ==============================================*/

.c-font {
  font-family: var(--font-rhymes-display);
}

/* .c-font--h1 {} */

.c-font--h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.c-font--h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.c-font--h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.c-font--h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

/* .c-font--h6 {} */

/* .c-font--subline {} */

@media screen and (min-width: 640px) {
  .c-font--h2 {
    font-size: 27px;
    line-height: 31px;
  }

  .c-font--h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .c-font--h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .c-font--h5 {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .c-font--h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .c-font--h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .c-font--h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .c-font--h5 {
    font-size: 20px;
    line-height: 24px;
  }
}

.c-font--uppercase {
  text-transform: uppercase;
}

.c-font-body {
  font-family: var(--font-inter);
}

/* XS */
.c-font-body--xs-w400-normal {
  font-size: 8px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.c-font-body--xs-w400-wide {
  font-size: 8px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.c-font-body--xs-w600-normal {
  font-size: 8px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

.c-font-body--xs-w600-wide {
  font-size: 8px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* SM */
.c-font-body--sm-w400-normal {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.c-font-body--sm-w400-wide {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.c-font-body--sm-w600-normal {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.c-font-body--sm-w600-wide {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* MD */
.c-font-body--md-w400-normal {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.c-font-body--md-w400-wide {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.c-font-body--md-w600-normal {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.c-font-body--md-w600-wide {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* LG */
.c-font-body--lg-w400-normal {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

@media screen and (min-width: 640px) {
  .c-font-body--xs-w400-normal {
    font-size: 10px;
    line-height: 14px;
  }

  .c-font-body--xs-w400-wide {
    font-size: 10px;
    line-height: 14px;
  }

  .c-font-body--xs-w600-normal {
    font-size: 10px;
    line-height: 14px;
  }

  .c-font-body--xs-w600-wide {
    font-size: 10px;
    line-height: 14px;
  }

  .c-font-body--sm-w400-normal {
    font-size: 12px;
    line-height: 16px;
  }

  .c-font-body--sm-w400-wide {
    font-size: 12px;
    line-height: 16px;
  }

  .c-font-body--sm-w600-normal {
    font-size: 12px;
    line-height: 16px;
  }

  .c-font-body--sm-w600-wide {
    font-size: 12px;
    line-height: 16px;
  }

  .c-font-body--md-w400-normal {
    font-size: 14px;
    line-height: 18px;
  }

  .c-font-body--md-w400-wide {
    font-size: 14px;
    line-height: 18px;
  }

  .c-font-body--md-w600-normal {
    font-size: 14px;
    line-height: 18px;
  }

  .c-font-body--md-w600-wide {
    font-size: 14px;
    line-height: 18px;
  }

  .c-font-body--lg-w400-normal {
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .c-font-body--lg-w400-normal {
    font-size: 16px;
    line-height: 18px;
  }
}

/*==============================================
  =================== BUTTON ===================
  ==============================================*/

.c-btn {
  font-family: var(--font-inter);
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.c-btn--primary-solid {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: #ffffff;
}

.c-btn--primary-outline {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.c-btn--secondary-solid {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: #ffffff;
}

.c-btn--secondary-outline {
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
}

.c-btn--tertiary-solid {
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-tertiary);
  color: #ffffff;
}

.c-btn--tertiary-outline {
  border: 1px solid var(--color-tertiary);
  background-color: transparent;
  color: var(--color-tertiary);
}

.c-btn--accent-solid {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: #ffffff;
}

.c-btn--accent-outline {
  border: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}

.c-btn--sm {
  font-size: 8px !important;
  line-height: 12px !important;
  padding-inline: 20px !important;
  padding-block: 7px !important;
}

.c-btn--md {
  font-size: 10px !important;
  line-height: 14px !important;
  padding-inline: 24px !important;
  padding-block: 9px !important;
}

.c-btn--lg {
  font-size: 10px !important;
  line-height: 14px !important;
  padding-inline: 28px !important;
  padding-block: 12px !important;
}

@media screen and (min-width: 640px) {
  .c-btn--sm {
    font-size: 9px !important;
    line-height: 13px !important;
    padding-inline: 24px !important;
    padding-block: 8.5px !important;
  }

  .c-btn--md {
    font-size: 11px !important;
    line-height: 15px !important;
    padding-inline: 32px !important;
    padding-block: 10.5px !important;
  }

  .c-btn--lg {
    font-size: 11px !important;
    line-height: 15px !important;
    padding-inline: 36px !important;
    padding-block: 13.5px !important;
  }
}

@media screen and (min-width: 1024px) {
  .c-btn--sm {
    font-size: 10px !important;
    line-height: 14px !important;
    padding-inline: 28px !important;
    padding-block: 10px !important;
  }

  .c-btn--md {
    font-size: 12px !important;
    line-height: 16px !important;
    padding-inline: 40px !important;
    padding-block: 12px !important;
  }

  .c-btn--lg {
    font-size: 12px !important;
    line-height: 16px !important;
    padding-inline: 44px !important;
    padding-block: 15px !important;
  }
}

/*==============================================
  =================== SWIPER ===================
  ==============================================*/

.swiper .swiper-slide {
  height: auto;
  min-height: 250px;
}

.swiper .swiper-pagination {
  text-align: left;
  line-height: 0;
  bottom: 0;
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 10px;
  background-color: white;
  opacity: 30%;
}

.swiper .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 100%;
}

/* COMPARABLE LISTINGS Custom Navigation */
.swiper-comlisting-navigation .swiper-button-prev,
.swiper-comlisting-navigation .swiper-button-next {
  bottom: 0;
  top: unset;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50% !important;
  background: black;
  color: white;
  padding: 0 0 1px 0 !important;
}

.swiper-comlisting-navigation .swiper-button-prev {
  left: calc(50% - 28px);
}

.swiper-comlisting-navigation .swiper-button-next {
  right: calc(50% - 28px);
}

/* CASE STUDIES Custom Navigation */
.swiper-casestudies-navigation .swiper-button-prev,
.swiper-casestudies-navigation .swiper-button-next {
  bottom: 0;
  top: unset;
  width: auto;
  height: 10px;
  padding-inline: 4px;
  color: var(--color-primary);
}

.swiper-casestudies-navigation .swiper-button-prev {
  left: 80px;
}

.swiper-casestudies-navigation .swiper-button-next {
  left: 150px;
  right: unset;
}

@media screen and (min-width: 640px) {
  .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
  }

  .swiper-casestudies-navigation .swiper-button-prev,
  .swiper-casestudies-navigation .swiper-button-next {
    height: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    line-height: 14px;
  }

  .swiper-casestudies-navigation .swiper-button-prev,
  .swiper-casestudies-navigation .swiper-button-next {
    height: 14px;
  }
}

/*==============================================
  =================== COMMON CSS ===============
  ==============================================*/

.section {
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--section-padding-block) var(--section-padding-inline);
}

.section__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.section__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.section__header__group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section__header__group--default {
  gap: 0px;
}

.section__header__group--with-icon-and-subline {
  gap: 0px;
}

.section__title {
  flex: 1;
  height: 20px;
  font-size: 10px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 14px;
  text-align: left;
}

.section__title--light {
  color: rgb(46 46 46);
  /* #2E2E2E */
}

.section__title--dark {
  color: rgb(255, 255, 255);
}

.common-carousel-swiper {
  padding-bottom: 42px;
}

@media screen and (min-width: 640px) {
  .section__container {
    gap: 40px;
  }

  .section__header__group--default {
    gap: 6px;
  }

  .section__header__group--with-icon-and-subline {
    gap: 4px;
  }

  .section__title {
    font-size: 12px;
    line-height: 16px;
  }

  .common-carousel-swiper {
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .section__container {
    gap: 56px;
  }

  .section__header__group--default {
    gap: 12px;
  }

  .section__header__group--with-icon-and-subline {
    gap: 6px;
  }

  .section__title {
    font-size: 12px;
    line-height: 16px;
  }

  .common-carousel-swiper {
    padding-bottom: 70px;
  }
}
